.social {
  padding: 25px 0;
  background-color: #3182ce;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: 0.3s ease-in;
  &:hover {
    background-color: #4299e1;
    transition: 0.3s ease-out;
  }
  svg {
    width: 20px;
    height: 20px;
    transition: 0.3s ease-in;
    margin-right: 20px;
    &:hover {
      transition: 0.3s ease-out;
      fill: whitesmoke;
    }
  }
}
